.navv{
    background-color: blue;
    color: white;
}
.text-blue{
    color: #202DBC;
}
#image-actor{
    border-radius: 15px; 
    z-index: 1000; 
    transform: translateY(60px); 
    position:absolute;
    width:"300";
}